@import "tailwindcss";

body {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
}

/* Minimalist Brutalism Styles */
.brutalism-card {
  border: 2px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

.brutalism-button {
  border: 2px solid black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.brutalism-input {
  border: 2px solid black;
  font-weight: 500;
  background-color: white;
}

.brutalism-input:focus {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  outline: none;
}
